@import url('https://fonts.googleapis.com/css2?family=Inika&family=M+PLUS+1p&family=Marcellus+SC&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    font-family: 'M PLUS 1p', sans-serif;
}

header {
    margin-top: 15px;
}
 
.headerText {
    width: 42%;
    margin: 0 auto;
}

.headerTitle {
    color: #E8C23E;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 48px;
}

span {
    color: #3E45E8;
}

a {
    text-decoration: none;
}

.mainFirstSection {
    background: url(../img/background.png);
    background-size: 63em;
    height: 557px;
}

.mainContent {
    margin-left: 5.5%;
    display: flex;
    position: relative;
    top: 8.3em;
}

.mainImg {
    width: 22px;
    height: 180px;
    background: url(../img/flag.png);
    background-position: 10px;
}


.mainText {
    width: 100em;
    margin: auto 0;
}

p {
    padding-left: 15px;
    color: white;
    font-weight: 600;
    line-height: 157.3%;
    font-size: 1.99em;
}

.mainTitle {
    padding: 50px 5.5% 0px 5.5%; 
}

h2 {
    font-size: 1.74em;
    display: inline;
}

.mainLine {
    background-color: #3E45E8;
    height: 5px;
    width: 17.3em;
    border: none;
    margin-top: 17px;
}

.mainSlide {
    height: 373px;
    margin: 0 5.5% 0 5.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainCard {
    width: 30%;
    overflow: hidden;
    height: 332px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(00, 00, 00, 0.3);
}

.mainCard:hover {
    cursor: pointer;
}

.mainCard img {
    width: 100%;
}

.mainCardTitle {
    color: #1E8DF2;
    font-size: 1.1em;
    padding-left: 0.5em;
    padding-top: 0.2em;
   
}

.mainCardText{
    color: #E8C23E;
    font-size: 0.94em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    font-weight: 300;
    line-height: 1.5em;
}

.mainTitle__Map {
    display: grid;
    justify-content: center;
}

.mainLine__Map {
    display: grid;
    justify-content: center;
}

.mainTitle__Map div {
    display: grid;
    justify-content: center;
}

.mainMap img {
    display: block;
    width: 560px;
    margin: 1.9em auto;
}

.button {
    width: 408px;
    height: 84px;
    background-color: #3E45E8;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mainMapButton {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.99em;
}

footer {
    background-color:  #2F4A4B;
    text-align: center;
    margin-top: 15px;
    
}

footer a {
    color: #A89D9D;
}

.socialMedia img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin: 15px 0 15px 0;
}

.footerEmaill {
    font-family: 'Marcellus SC', serif;
    font-size: 1.45em;
}

.footerPhone {
    font-family: 'Marcellus SC', serif;
    font-size: 1.45em;
}



