@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: white;
}

header {
    height: 90px;
    background-color: #202846;
    display: flex;
    justify-content: space-between;
}

.headLogo {
    display: flex;
    align-items: center;
    margin-left: 7.2%;
}

nav {
    display: flex;
    position: relative;
    top:-25px;
    margin-right: 3.1%;
    min-width: 981px;
}

ul li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

.headLang::before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url(../img/lang.svg);
    position: relative;
    top:31px
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin:30px;

}

.mainNaw {
    width: 100px;
    height: 100px;
    background-color: rgba(55, 57, 68, 0.62);
    color: white;
    font-size: 72px;
    text-align: center;
    border-radius: 100%;
    position: fixed;
    right: 55px;
    bottom: 55px;
}

.listTitle {
    height: 140px;
    background-color: #C6C6DC;
    color: black;
    font-size: 48px;
    display: flex;
    align-items: center;
}

.titleText {
    width: 1489px;
    margin: 0 auto;
}

.listBody {
    background-color: #DCDCDC;
    padding: 56px 0;

}

.listFilter {
    width: 1489px;
    height: 73px;
    background-color: #E8E8E8;
    margin: 0px auto 56px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterText1 {
    color: black;
    font-size: 28px;
    padding: 15px 0px;
}

.filterText2{
    position: absolute;
    right: 15px;
    color: black;
    font-size: 33px;
    
}

.listFilter:hover {
    cursor: pointer;
}

.listCard{
    width: 1489px;
    height: 300px;
    background-color: #BDBDC6;
    margin: 0px auto 56px;
    display: flex;
    position: relative;
}

.listImg {
width: 687px;
display: flex;
justify-content: center;
align-items: center;
}

.listContent {
width: 799px;
}

.line {
    width: 713px;
    background-color: white;
    height: 3px;
    border: none;
}

 h1 {
    color: black;
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
}

.listText {
    width: 713px;
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D7D7DD;
    margin-top: 10px;
}

.listText p {
    padding: 45px;
    color: black;
    width: 665px;
    height: 135px;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}

.listText__padding p {
    padding: 30px;
    margin-top: 0px;
}


.listStar {
    color: white;
    font-size: 50px;
    position: absolute;
    right: 10px;
    bottom: 237px;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #202846;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:  none;
    color: white;
    font-size: 24px;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    right: -45px;
}

.listCard:hover{
    background-color: #AEAEE2;
    box-shadow: 0px 0px 15px rgba(00, 00, 00, 0.2);
    cursor: pointer;
}

.listCard:hover .button{
    background-color: #EF075B;
    cursor: pointer;
}

.listCard:hover .listStar{
    color: #FFFF00;
    cursor: pointer;
}

.mainNaw:hover{
    background-color: rgba(55, 57, 68, 1);
}

.userBody{
    height: 1000px;
    background-color: #DCDCDC;
}

.button__Exit {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 48px auto;
}

.userCard{
    width: 1318px;
    height: 498px;
    background-color: #BDBDC6;
    margin: 40px auto;
    display: flex;

    align-items: center;
}

.userSetting {
    width: 525px;
    display: grid;
    align-items: center;
}

.buttonUser {
    width: 250px;
    height: 50px;
    background-color: #69749B;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: 38px auto 0px;

}

.buttonUser__Settings{
    background-color: #484A54;
    margin-top: 22px;
}
.userSetting img {
    margin: 0 auto;
}

.line_margin{
    margin-top: 15px;
}

span {
    font-weight: 200;
}

.contacts {
    background-color: #DCDCDC;
}

.info1 {
    width: 1318px;
    color: black;
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.info1 a {
    color: black;
    text-decoration: none;
}

.blackLine{
    background-color: black;
    height: 3px;
    border: none;
}

.info2{
    width: 1318px;
    color: black;
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.footer {
    background-color: #202846;
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 85px;
    font-size: 36px;
    font-weight: 100;

}

.time {
    text-align: center;
}