@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,600;1,400&family=Roboto:wght@400;700&family=Work+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #212529;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #212529;
    padding: 20px 0;
    max-width: 1440px;
    margin: 0 auto;
}

section {
    max-width: 1440px;
    margin: 0 auto;
}

footer {
    /* max-width: 1440px; */
    margin: 0 auto;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin: 1em;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
ul li a:hover{
    color: #FFB742;
}

.yellowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: #FFB742;
    width: 121px;
    height: 54px;
    border: 2px solid #FFB742;
    border-radius: 50px;
}

.yellowButton:hover {
    color: #212529;
    background-color: #FFB742;
}

.about {
   text-align: center;
   background-color: #212529;
   color: white;
   font-family: 'Inter', sans-serif;
   text-transform: capitalize;
}

.aboutMe h1 {
    font-weight: 700;
    font-size: 2rem;
    padding-top: 94px;
    padding-bottom: 20px;
}

.aboutMe h2 {
    font-weight: 700;
    font-size: 3rem;
}

.aboutMe h3 {
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 50px;
}



.aboutMe a {
    color: #FFB742;
}

.aboutMe img{
    padding:50px 0px 136px;
}

.aboutExp {
    display: flex;
    justify-content: space-around;
    padding-bottom: 221px;
    flex-wrap: wrap;
}

.aboutExp a {
 color: white;
 text-decoration: none;
}

.aboutCard {
    width: 416px;
    height: 120px;
    background-color: #292B2E;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.aboutCard h1{
    color: #FFB742;
}

.aboutCard:hover {
    background-color: #FFB742;
    cursor: pointer;
    color: #212529;
}

.aboutCard:hover h1 {
    color: #292B2E;
}

.aboutCard h1 {
    padding-bottom: 10px;
}

.aboutMySelf {
    background-color: #212529;
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.aboutMySelf img {
    width: 100%;
}

.aboutMySelfInfo {
    padding-bottom: 1rem;
    width: 47%;
}

.aboutMySelfInfoH4 {
    width: 148px;
    height: 42px;
    background: rgba(255, 255, 255, 0.08);
    color: #FFB742;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.aboutMySelfInfoH2 {
    font-weight: 700;
    font-size: 3rem;
}

.aboutMySelfInfoP {
    padding-bottom: 6rem;
}

.mySkills {
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mySkillsIcon {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    width: 37.5rem;
    max-height: 200px;
    min-height: 100px;
}

.mySkillsIcon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #383E45;
    border-radius: 10px;
    margin: 8px;
}

.mySkillsIcon a:hover {
    background: rgba(255, 183, 66, 0.5);
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social {
    background-image: url(../img/sprites.png);
    width: 48px;
    height: 48px;
}

.social__position2 {
background-position: -48px 0px;
}

.social__position3 {
    background-position: -96px 0px;
}

.social__position4 {
    background-position: -144px 0px;
}   

.social__position5 {
    background-position: -192px 0px;
}

.social__position6 {
    background-position: -240px 0px;
}

.social__position7 {
    background-position: 0px 48px;
}

.social__position8 {
    background-position: -48px 48px;
}

.social__position9 {
    background-position: -96px 48px;
}

.social__position10 {
    background-position: -144px 48px;
}

.social__position11 {
    background-position: -192px 48px;
}

.social__position12 {
    background-position: -240px 48px;
}

.myWorks {
    /* display: flex;
    justify-content: center; */

    background-color: #212529;
    padding-top: 137px;
    color: white;
}


.myWorksBody {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
}

.myWorksBody h4 {
    margin: 0 auto;
}

.myWorksBody ul {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.myWorksGalary img {
    margin: 15px;
}

.myWorks a {
    padding: 7px 21px;
}

.myWorks a:hover {
    background-color: #FFB742;
    color: #292B2E;
    padding: 7px 21px;
    border-radius: 3px;
}

.testimonials {
    color: white;
    padding-top: 126px;
}

.testimonialsCard {
    display: flex;
    justify-content: space-around;
    padding-top: 91px;
    padding-bottom: 253px;
    flex-wrap: wrap;
}

.cardBody {
    color: black;
    background-color: white;
    border-radius: 7.93px;
    width: 378px;
    margin-top: 10px;
}

.mediaImg {
    height: 1rem;
}

.card {
padding: 50px 52px 49px 33px;
}

.cardStar {
    color: #FFB742;
    font-size: 1.5rem;
}

.text {
    font-size: 1.25rem;
    padding-bottom: 30px;
    padding-top: 20px;
}

.media {
    display: flex;
}
 

.mediaInfo {
    padding-left: 24px;
    display: grid;
    align-items: center;
}

.mediaName {
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}

.aboutMySelfInfoH4__padding {
    padding: 0 25px;
}

.footer {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 144px 47px 89px 47px;
    font-family: 'Work Sans', sans-serif;
    flex-wrap: wrap;
}

.kartikBansal {
    max-width: 253px;
    padding-right: 139px;
}

.usefulLink {
    max-width: 139px;
    padding-right: 202px;
}

.socialMedia {
    max-width: 143px;
    padding-right: 157px;
}

.newsletter {
    max-width: 297px;
}

.kartikBansal a {
    color: #FFB742;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.kartikBansal p {
    color: white;
    font-weight: 600;
    padding-top: 38px;
}

h5 {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 18px;
}

.footer li{
    list-style-type: none;
    padding: 10px 0;
}

.footer li a {
    text-decoration: none;
    color: #7B7B7B;
    font-weight: 500;

}

